<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><img class="float-left" id="userImg" />
                <h5 class="modal-title text-primary" id="modalHeader"></h5><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <form class="container" action="/sendMail" method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">to</div>
                        </div><input class="form-control" id="to" type="email" name="to" /></div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div><input class="form-control" type="email" name="cc" placeholder="CC address" /></div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">...</div>
                        </div><input class="form-control" type="text" name="subject" placeholder="Mail Subject" /></div>
                    <div class="input-group mb-2"><textarea class="form-control" rows="3" name="message"></textarea></div>
                    <div class="input-group mb-2"><label class="custom-file-label" for="attach">Choose File</label><input class="custom-file-input" id="attach" type="file" name="attach" /></div>
                    <hr/>
                    <div class="input-group mb-2" id="userDiv">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div><input class="form-control" type="email" name="user" placeholder="Your G-mail address" /></div>
                    <div class="input-group mb-2" id="passDiv">
                        <div class="input-group-prepend">
                            <div class="input-group-text"> * </div>
                        </div><input class="form-control" type="password" name="pass" placeholder="Your G-mail password" /></div>
                    <hr/>
                    <div class="input-group mb-2"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
                </form>
            </div>
            <div class="modal-footer">
                <h5 class="text-center m-auto text-primary">© 2020 Alper</h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>



